
fastapi
uvicorn[standard]
python-multipart
openai
PyPDF2
pdf2image
pdfplumber
pymupdf
camelot-py[cv]
pytesseract
opencv-python
pillow
python-docx
docx
openpyxl
reportlab
pandas
numpy
markitdown
tabula-py[speedups]
tabula
streamlit
boto3
botocore
python-dotenv
