fastapi
uvicorn[standard]
python-multipart
openai
PyPDF2
pdf2image
pdfplumber
pymupdf
camelot-py[cv]
pytesseract
opencv-python
pillow
python-docx
docx
openpyxl
reportlab
pandas
numpy
markitdown
tabula-py[speedups]
tabula
streamlit
boto3
botocore
python-dotenv
google-api-python-client==2.134.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0